<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Calculador"
        tools:targetApi="31">

        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:orientation="vertical">

            <EditText
                android:id="@+id/etValorHora"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:hint="@string/valor_hora_hint"
                android:minHeight="48dp"
                android:minWidth="48dp"
                android:padding="16dp" />

            <EditText
                android:id="@+id/etHorasTrabajadas"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:hint="@string/horas_trabajadas_hint"
                android:minHeight="48dp"
                android:minWidth="48dp"
                android:padding="16dp" />

            <Button
                android:id="@+id/btnCalcular"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:text="@string/calcular"
                android:contentDescription="@string/btn_calcular_desc"
                android:minHeight="48dp"
                android:minWidth="48dp"
                android:padding="16dp" />

        </LinearLayout>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
